version: 2
updates:
- package-ecosystem: docker
  directory: "/docker"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  commit-message:
    prefix: "build(docker): "
- package-ecosystem: docker-compose
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  commit-message:
    prefix: "build(docker-compose): "
- package-ecosystem: pip
  directory: "/src"
  schedule:
    interval: daily
    time: "01:00"
    timezone: Europe/Madrid
  allow:
    - dependency-type: "all"
  open-pull-requests-limit: 10
  commit-message:
    prefix: "build(pip): "
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: "weekly"
  open-pull-requests-limit: 10
  commit-message:
    prefix: "ci(github-actions): "
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  commit-message:
    prefix: "build(npm): "
  allow:
    - dependency-type: "all"
  open-pull-requests-limit: 5
