# Flask
FLASK_APP=manage.py
FLASK_CONFIG=config.ProdConfig
FLASK_ENV=production  # development, production or testing
## Local env example: flask-api.local:5000
SERVER_NAME=flask-api.prod

# Flask-Security-Too
SECRET_KEY=secret_key  # generated using: secrets.token_urlsafe()
SECURITY_PASSWORD_SALT=security_password_salt  # generated using: secrets.SystemRandom().getrandbits(128)

# Flask-SQLAlchemy
SQLALCHEMY_DATABASE_URI=mysql://root:root@127.0.0.1:3306/flask_api

# MySQL
MYSQL_ROOT_PASSWORD=root

# Flask-Mail
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=

# Celery
CELERYD_NODES=2
CELERYD_OPTS="-Q:1 default -Q:2 fast"
CELERY_BROKER_URL=pyamqp://guest:guest@127.0.0.1:5672//
CELERY_RESULT_BACKEND=db+mysql://root:root@127.0.0.1:3306/flask_api

# Flask Swagger UI
SWAGGER_URL=
SWAGGER_API_URL=

# Mr Developer
HOME=/flask-api-docker-dir
TEST_USER_EMAIL=user@mail.com
TEST_USER_PASSWORD=secret-password
