# requirements.in
bcrypt
celery
cerberus
coverage
faker
flask
flask-marshmallow
flask-restx
flask-security-too
flower
m2r2
peewee
pip-tools
pytest
python-docx
python-dotenv
python-magic
sphinx
sphinx_rtd_theme
supervisor
supervisord-dependent-startup
uwsgi
xlsxwriter
