# Database
faker
peewee
sqlalchemy # required by celery

# Distributed Task Queue
celery
flower

# Documentation
m2r2
sphinx
sphinx_rtd_theme

# Framework and extensions
flask
flask-marshmallow
flask-restx
flask-security-too

# Manage python packages
pip-tools

# Process control system
supervisor
supervisord-dependent-startup

# Security
bcrypt

# Test
coverage
pytest

# Web packages
cerberus
python-docx
python-dotenv
python-magic
xlsxwriter

# Web server gateway interface
uwsgi
