# Add .env support to your django/flask apps in development and deployments
python-dotenv

# Database
faker
peewee
sqlalchemy # Required by celery

# Distributed Task Queue
celery==4.4.7  # Upgrade package when flower will be compatible with Celery 5
flower

# Files
python-docx
python-magic
xlsxwriter

# Framework and extensions
flask
flask-marshmallow
flask-restx
flask-security-too

# Process control system
supervisor
supervisord-dependent-startup

# Support for the Internationalised Domain Names in Applications (IDNA) protocol
# as specified in RFC 5891
idna==2.10  # Upgrade package when sphinx will be compatible with idna 3.0

# Web server gateway interface
uwsgi
