[Unit]
Description=Supervisor flask_api daemon
Documentation=http://supervisord.org
After=network.target

[Service]
User=username
Group=usergroup
ExecStart=/path/flask_api/venv/bin/supervisord -n -c /path/flask_api/supervisord.conf
ExecStop=/path/flask_api/venv/bin/supervisorctl -c /path/flask_api/supervisord.conf stop all
ExecReload=/path/flask_api/venv/bin/supervisorctl -c /path/flask_api/supervisord.conf reread && /path/flask_api/venv/bin/supervisorctl -c /path/flask_api/supervisord.conf stop all && /path/flask_api/venv/bin/supervisorctl -c /path/flask_api/supervisord.conf start dependentstartup

[Install]
WantedBy=multi-user.target