[program:flower]
user=<username>
directory=/<path>/flask_api
command=/<path>/flask_api/venv/bin/flower -A app.celery --broker_api=http://guest:guest@127.0.0.1:15672/api/ --port=5555
--url_prefix=flower
autostart=false
dependent_startup=true
dependent_startup_wait_for=celery:running
autorestart=true
stdout_logfile=/<path>/flask_api/log/flower/flower.log
redirect_stderr=true