[program:flower]
user=<username>
directory=/<path>/flask_api
command=/<path>/flask_api/venv/bin/flower -A app.celery --broker_api=http://guest:guest@127.0.0.1:15672/api/
autostart=true
autorestart=true
stdout_logfile=/<path>/projects/flask_api/log/flower/flower.log
redirect_stderr=true