[Unit]
Description=uWSGI instance to serve flask_api
After=network.target

[Service]
User=<username>
Group=www-data
WorkingDirectory=/<path>/flask_api
Environment="PATH=/<path>/flask_api/venv/bin"
ExecStart=/<path>/flask_api/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target

