server {
    listen 80;
    # Remember add "flask-api.dev" to your "hosts" file
    server_name flask-api.dev;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/<path>/flask_api.sock;
    }
}