[uwsgi]
; load flask
module = manage:app

; enable master
master = true

; 4 processes should be enough
processes = 4
threads = true

; a couple of placeholder
project_home = $(HOME)
project_path = %(project_home)/flask_api

; chdir to app project dir and set pythonpath
chdir = %(project_path)
python_path = %(project_path)/venv

; bind on a file socket
socket = %(project_home)/flask_api.sock

; log file location
logto = %(project_home)/flask_api.log

; ... with appropriate permissions - may be needed
chmod-socket    = 664
uid             = user-name
gid             = www-data

; clear environment on exit
vacuum          = true

; https://uwsgi-docs.readthedocs.io/en/latest/Upstart.html#what-is-die-on-term
die-on-term = true
